.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: green;
  min-width: 400px;
  border-radius: 2rem;
}

.header {
  background-color: var(--secondary);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.img_container {
  border: 1px solid var(--white);
  width: 3rem;
  border-radius: 100%;
}

.title {
  font-size: 1rem;
  color: var(--white);
}

.body {
  min-height: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  background-color: blue;
}
